@model IEnumerable<USSEScoreboard.Models.HighlightListItem>

@{
    ViewData["Title"] = "Index";
}

<h2>My Highlights</h2>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a>
</p>

@await Html.PartialAsync("_Grid")
