@model USSEScoreboard.Models.ScoreboardEntry

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ScoreboardEntry</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="DateCreated" value="@ViewBag.DateCreated" />
        <input type="hidden" asp-for="DateModified" value="@ViewBag.DateModified" />
       
        <div class="form-group">
            <label class="col-md-2 control-label">Scoreboard Item</label>
            <div class="col-md-10">
                <select asp-for="ScoreboardItemId" class ="form-control" asp-items="ViewBag.ScoreboardItemId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Count" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
