@using Microsoft.AspNetCore.Identity
@using Scoreboard.Website.Models
@using Scoreboard.Website.Interfaces

@inject IUserProfileRepository UserProfileRepository

@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.Claims.Where(x => x.Type.EndsWith("/claims/givenname")).First().Value!</a>
               
            </li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="LogOff">Log Off</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
