@model IEnumerable<USSEScoreboard.Models.HighlightSearchResult>

@{
    ViewData["Title"] = "Index";
}

<h2>Highlight Search Results</h2>
<hr />
@foreach (var item in Model)
{

    <div class="panel panel-primary">
        <div class="panel-heading">
            Highlights for <strong>@item.FullName</strong> @item.DateStart.ToString("D") <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> @item.DateEnd.ToString("D")
        </div>
        <div class="panel-body">
            @Html.Raw(item.Body)
        </div>
    </div>
    <hr />
}

