@model USSEScoreboard.Models.GlobalScoreEntry

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>GlobalScoreEntry</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="DateCreated" type="hidden" value="@DateTime.Now" />
        <input asp-for="DateModified" type="hidden" value="@DateTime.Now" />
        <div class="form-group">
            <label class="col-md-2 control-label">Score Towards</label>
            <div class="col-md-10">
                <select asp-for="GlobalScoreType" asp-items="Html.GetEnumSelectList<GlobalScoreEntryType>()" class="form-control"></select>
                <span asp-validation-for="GlobalScoreType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Week Total</label>
            <div class="col-md-10">
                <input asp-for="TimeFrameTotal" class="form-control" />
                <span asp-validation-for="TimeFrameTotal" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Week Ending</label>
            <div class="col-md-10">
                <input asp-for="WeekEnding" type="date" class="form-control" />
                <span asp-validation-for="WeekEnding" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
