@model USSEScoreboard.Models.LeadMeasure

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>LeadMeasure</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="DateCreated" type="hidden" value="@DateTime.Now" />
        <input asp-for="DateModified" type="hidden" value="@DateTime.Now" />
        <div class="form-group">
            <label class="col-md-2 control-label">Parent WIG</label>
            <div class="col-md-10">
                <select asp-for="WigId" class="form-control" asp-items="ViewBag.WigId"></select>
            </div>
        </div>        
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
