@{
    ViewData["Title"] = "Home Page";
}
<div class="page-header">
    <h1>SE Scoreboard <small>Do... or do not. There is no try.</small></h1>
</div>

<div class="container">
    <div class="col-md-2">
        <img src="~/images/yoda.png" width="160" />
    </div>
    <div class="col-md-10">
        <!-- start table -->
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th style="border-top: 1px solid #fff !important; border-left: 1px solid #fff !important;">&nbsp;</th>
                    <th class="text-center">Weekly Tasks</th>
                    <th class="text-center">CRM</th>
                    <th class="text-center">Expenses</th>
                    <th class="text-center">Presentations</th>
                    <th class="text-center">Ascend Working</th>
                </tr>
            </thead>
            <tr>
                <td width="20%">Amanda Lange</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-primary btn-xs">2 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">Blain Barton</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-success btn-xs">3 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">Dave Voyles</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-primary btn-xs">2 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">David Crook</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-success btn-xs">3 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">Ian Philpot</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-primary btn-xs">2 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">Joe Raio</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-danger btn-xs">0 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">Kristin Ottofy</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-primary btn-xs">2 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">Mostafa Elzoghbi</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-primary btn-xs">2 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">Shahed Chowduri</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-primary btn-xs">2 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
            <tr>
                <td width="20%">Tommy Patterson</td>
                <td width="16%" class="text-center"><a href="#" class="btn btn-danger btn-xs">0 of 3</a></td>
                <td class="text-center" width="16%"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button></td>
                <td class="text-center" width="16%"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button></td>
                <td width="16%" class="text-center"><a href="#" class="badge">3</a></td>
                <td width="16%" class="text-center"><a href="#" class="badge">2</a></td>
            </tr>
        </table>
        <!-- end table -->
    </div>
</div>



@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699562">Add an appsetting in config and access it in app.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@
