@{
    ViewData["Title"] = "Setting up roles...";
}

<h2>@ViewData["Title"].</h2>
<p>
    Roles are being setup. You will be automatically redirected shortly... 
</p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
